<div class="container">
  <div class="sign-in-up">
    <div class="switch-buttons">
      <button
        class="switch-buttons__button"
        [class.selected]="isSignIn"
        (click)="onSignIn()"
      >SIGN IN</button>
      <button
        class="switch-buttons__button"
        [class.selected]="!isSignIn"
        (click)="onSignUp()"
      >JOIN US!</button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
      <div class="name" *ngIf="!isSignIn">
        <label class="input-label" for="name"><b>Name</b></label>
        <br>
        <input class="input" type="text" name="name" formControlName="name">
      </div>
      <div class="email">
        <label class="input-label" for="email"><b>Email Address</b></label>
        <br>
        <input class="input" type="email" name="email" formControlName="email">
      </div>
      <div class="password">
        <label class="input-label" for="password"><b>Password</b></label>
        <br>
        <input class="input" type="password" name="password" formControlName="password">
      </div>
      <button *ngIf="isSignIn" class="submit" type="submit" [disabled]="loading" (click)="login()">Sign In</button>
      <button *ngIf="!isSignIn" class="submit" type="submit">Join Now</button>
      <a *ngIf="isSignIn" class="restore-pass" href="#">Forgot Password?</a>
    </form>
    <p *ngIf="isSignIn" class="explain">- - - - - - - - - - - - - Sign In With - - - - - - - - - - - - -</p>
    <p *ngIf="!isSignIn" class="explain">- - - - - - - - - - - - - Register With - - - - - - - - - - - - -</p>
    <div class="social-media">
      <a class="social-media__item social-media__item_facebook" href="#">Facebook</a>
      <a class="social-media__item social-media__item_google" href="#">Google+</a>
      <a class="social-media__item social-media__item_twitter" href="#">Twitter</a>
    </div>
  </div>
</div>
