.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.sign-in-up {
  width: 20%;
  padding: 1%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.switch-buttons {
  display: flex;
}

.switch-buttons__button {
  padding: 3%;
  padding-right: 28.7%;
  background-color: white;
  font-size: 1rem;
  color: blue;
  border: 0;
  border-radius: 10% 10% 0 0;
  -webkit-border-radius: 10% 10% 0 0;
  -moz-border-radius: 10% 10% 0 0;
  -ms-border-radius: 10% 10% 0 0;
  -o-border-radius: 10% 10% 0 0;
}

.switch-buttons__button.selected {
  background-color: red;
  color: white;
}

.email {
  margin-top: 3%;
}

.password {
  margin-top: 3%;
}

.input {
  margin-top: 1%;
  width: 98%;
  height: 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.submit {
  margin-top: 3%;
  border: 0;
  background-color: red;
  color: white;
  font-size: 0.85rem;
  padding: 3% 6%;
}

.restore-pass {
  margin-left: 1%;
  text-decoration: none;
}

.restore-pass:hover {
  text-decoration: underline;
}

.explain {
  text-align: center;
  font-size: 0.8rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media__item {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  width: 33%;
  padding: 3% 0;
}

.social-media__item_facebook {
  background-color: #3b5998;
}

.social-media__item_google {
  background-color: #db4a39;
}

.social-media__item_twitter {
  background-color: #00acee;
}
