<div class="container">
  <div class="signUp">
    <div class="switch-buttons">
      <button
        class="switch-buttons__button"
        [class.selected]="isSignIn"
        (click)="onSignIn()"
      >SIGN IN</button>
      <button
        class="switch-buttons__button"
        [class.selected]="!isSignIn"
        (click)="onSignUp()"
      >JOIN US!</button>
    </div>
    <form class="sign">
      <label class="input-label" for="email">Email Adress</label>
      <br>
      <input class="email" type="email" name="email">
      <br>
      <label class="input-label" for="password">Password</label>
      <br>
      <input class="password" type="password" name="password">
      <br>
      <button type="submit">Sign In</button>
    </form>
    <a class="restore-pass" href="#">Forgot Password?</a>
    <p>-------------Sign in With-------------</p>
    <div class="social-media">
      <a class="social-media__facebook" href="#">FaceBook</a>
      <a class="social-media__google+" href="#">Google+</a>
      <a class="social-media__twitter" href="#">Twitter</a>
    </div>
  </div>
</div>
