<div class="container">
  <div class="sign-in-up">
    <div class="switch-buttons">
      <h2 class="switch-buttons__button">SIGN IN</h2>
    </div>
    <form [formGroup]="form" class="form">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="yourmail@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-error *ngIf="error">{{error}}</mat-error>
      <br>
      <button mat-raised-button color="warn" type="submit" [disabled]="loading" (click)="login()">Sign In</button>
      <a class="restore-pass" href="#">Forgot Password?</a>
    </form>
    <p class="explain">- - - - - - - - - - - - - Sign In With - - - - - - - - - - - - -</p>
    <div class="social-media">
      <a class="social-media__item social-media__item_facebook" href="#">Facebook</a>
      <a class="social-media__item social-media__item_google" href="#">Google+</a>
      <a class="social-media__item social-media__item_twitter" href="#">Twitter</a>
    </div>
  </div>
</div>

