.game-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container {
  margin-top: 2%;
  width: 20%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.description {
  word-wrap: break-word;
  word-break: break-all;
}

.game-card {
  width: 20%;
  margin-top: 2%;
}

.raiting {
  background-color: coral;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-button {
  display: flex;
  justify-content: center;
  padding: 3% 0;
}