<div class="container">
 <div class="header">
  <div class="raiting">93.3</div>
  <div class="info">
    <span class="name">Uncharted</span>
    <span class="date">2016 May 10</span>
  </div>
 </div>
 <img class="game-image" src="../../../assets/images/Uncharted_4_cover.jpg" alt="game-img" width="100%" height="400px">
 <p class="description">descdescdescdescdescdescdescdescdescdescdescdescdesc</p>
 <div class="social-media">
  <button class="like">
    <img class="like__image">
  </button>
  <button class="share">
    <img class="share__image">
  </button>
  <button class="more">
    <img class="more_image">
  </button>
 </div>
</div>
