<div class="container">
  <nav class="navigation">
    <ul class="nav-list">
      <li class="nav-list__item">
        <a class="nav-list__item_link" routerLink="/explore">
          <img class="icon" src="../../../assets/images/gamepad.png" alt="gamepad" width="30px" height="30px">
        </a>
      </li>
      <li class="nav-list">
        <a class="nav-list__item_link" href="#">DISCOVERY</a>
      </li>
      <li class="nav-list">
        <a *ngIf="isAuth" class="nav-list__item_link" href="#">MY GAMES</a>
      </li>
    </ul>
    <div class="autorization">
      <a *ngIf="isAuth" class="user-link" routerLink="/user:id">USER1</a>
    </div>
    <a *ngIf="isAuth" class="" (click)="logout()">Logout</a>
    <a *ngIf="!isAuth" class="" (click)="signIn()">Login</a>
  </nav>
</div>
