<div class="container">
  <nav class="navigation">
    <ul class="nav-list">
      <li class="nav-list__item">
        <a class="nav-list__item_link" routerLink="/explore">
          <img class="icon" src="../../../assets/images/gamepad.png" alt="gamepad" width="30px" height="30px">
        </a>
      </li>
      <li class="nav-list">
        <a class="nav-list__item_link" routerLink="">DISCOVERY</a>
      </li>
      <li class="nav-list">
        <a *ngIf="isAuth" class="nav-list__item_link" routerLink="">MY GAMES</a>
      </li>
    </ul>
    <div class="autorization">
      <a *ngIf="isAuth; else login" class="user-link" routerLink="/user:id">{{currentUser.userName}}</a>
      <ng-template #login>
        <a class="login-link" routerLink="/login">Login</a>
      </ng-template> 
      <a *ngIf="isAuth; else signUp" class="logout-link" routerLink="/explore" (click)="logout()">Logout</a>
      <ng-template #signUp>
        <a class="login-link" routerLink="/registration">Create Account</a>
      </ng-template> 
    </div>
  </nav>
</div>
